# Node.js
servidor/node_modules
client-next/node_modules
node_modules/
npm-debug.log
yarn-error.log
.env
dist/
build/

# Logs
*.log
logs/

# production
cliente-next/build

# next.js
cliente-next/.next/
cliente-next/out/

# vercel
client-next/.vercel

# typescript
*.tsbuildinfo
client-next/next-env.d.ts