# Node.js
servidor/node_modules
cliente/node_modules
node_modules/
npm-debug.log
yarn-error.log
.env
dist/
build/

# Logs
*.log
logs/

# production
cliente/build

# next.js
cliente/.next
cliente/out/

# vercel
cliente/.vercel

# typescript
*.tsbuildinfo
cliente/next-env.d.ts